In [1]:
import pandas as pd
import numpy as np

In [43]:
numbers = pd.DataFrame({'n': [1, 2, 3, 4, 5]})
numbers

   n
0  1
1  2
2  3
3  4
4  5

In [20]:
for val in numbers['n']:
    print(val)

1
2
3
4
5

In [16]:
for index, row in numbers.iterrows():
    print(row['n'])

1
2
3
4
5

Method 1

In [45]:
numbers['n'].apply(lambda x: [x] * x).explode()

0    1
1    2
1    2
2    3
2    3
2    3
3    4
3    4
3    4
3    4
4    5
4    5
4    5
4    5
4    5
Name: n, dtype: object

In [40]:
rep = numbers['n'].apply(lambda x: [x] * x)
print(rep)

0          [1]
1       [2, 2]
2       [2, 2]
3    [3, 3, 3]
4    [3, 3, 3]
Name: n, dtype: object

In [28]:
# explode() - transforms the Series of lists into a Series of individual values. Flattens the list
rep.explode()

0    1
1    2
1    2
2    3
2    3
2    3
3    4
3    4
3    4
3    4
4    5
4    5
4    5
4    5
4    5
Name: n, dtype: object

Methods 2 - List comprehension

In [47]:
repeated_values = [x for x in numbers['n'] for _ in range(x)]

result_df = pd.DataFrame({'n': repeated_values})
print(result_df)

    n
0   1
1   2
2   2
3   3
4   3
5   3
6   4
7   4
8   4
9   4
10  5
11  5
12  5
13  5
14  5

In [15]:
for value in df['n'].tolist():
    print(value)

1
2
3
4
5